<div id="xxxxx" class="album py-5 bg-light" style="position: relative; background-color: none!important;">
    <div class="container" style="padding: 0;">
        <div class="row">
            <div class="col-md-12" style="color: #212529;">
                <p class="uuu">УРА. ТЫ УСПЕШНО ЗАРЕГАЛСЯ, ПОЗДРАВЛЯЮ, ТЕПЕРЬ ЖДЁМ ДРУГИХ РЕБЯТ..</p>
                <p class="uuu">МНЕ НАДО НАБРАТЬ НОРМАЛЬНОЕ КОЛ-ВО РЕБЯТ, КОТОРЫМ НУЖНЫ ДЕНЬГИ (ВСЕМ НЫНЧЕ НЕ ЛЕГКО, ЕСЬ ЖЫ)..</p>
                <p class="uuu">В БЛИЖАЙШЕМ ВРЕМЕНИ ЗАСЯДУ ЗА БАЗУ ДАННЫХ, ПРОАНАЛИЗИРУЮ, НЕКОТОРЫМ ИЗ ВАС ПОЗВОНЮ, ЧТОБЫ ТОЧНО УБЕДИТЬСЯ, ЧТО БОТОВ/КЛОНОВ НЕТ..</p>
                <p class="uuu">УДАЧИ И С НОВОМ ГОДОМ!</p>
            </div>
        </div>
    </div>
</div>