@model IEnumerable<PrettyGoods.Controllers.Question>
<div class="album py-5 bg-light" style="position: relative;">
    <div class="container" style="padding: 0; background-image: url('/Content/images/heart (3).png')">
        <div class="row">
            <div class="col-md-12" style="color: #212529;">
                <h4 style="color: green; background: white;">Небольшой тЭстик-пЭстик</h4>
                <form method="post" action="test">
                    @{ 
                        var i = 0;
                    }
                    @foreach (var question in Model)
                    {
                        i++;
                        <div class="col-md-4" style="background: rgb(255, 190, 172); border: solid 3px rgb(161, 75, 148); margin-bottom: 20px;">
                            <h6>@(i) - @(question.Title)</h6>
                            <ul style="list-style: none; padding: 0;">
                                @foreach (var answer in question.AllAswers)
                                {
                                    <li>
                                        <input type="radio" id="question_@(question.Id)_answer_@(answer.Key)" name="question_@(question.Id)" value="@(answer.Key)" style="cursor: pointer;">
                                        <label for="question_@(question.Id)_answer_@(answer.Key)" style="cursor: pointer;">@answer.Value</label>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    <input type="submit" style="background: #FF69B4;" value="Сдать на проверку, изи" />
                </form>
            </div>
        </div>
    </div>
</div>