<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="С НОВЫМ ГОДОМ!">
    <meta name="author" content="Мурсалов Олег">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>С НОВЫМ ГОДОМ!</title>
    <link rel="icon" href="~/Content/images/heart (3).png" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/site.main.style.css" />
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm" style="">
            <div class="container d-flex justify-content-between" style="position: relative;">
                <h4 style="color: white; padding: 10px;">Зарегайся и получи часть от <span style="color: aqua;">5.000 рублей</span>, есь жы..</h4>
            </div>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-4 float-left">
                    <p style="color: #fff; margin: 5px 0; font-weight: 600;">Информация о нас:</p>
                    <ul class="text-muted-red">
                        <li><a href="https://vk.com/topbottomtop">Группа ВКонтакте</a></li>
                        <li><a style="color: aquamarine;" href="https://vk.com/amaz1ng55">Камиль Пивоваров [ЭПОХА]</a></li>
                        <li><a style="color: blueviolet;" href="https://vk.com/id417550403">Крутые биты у него! (Богдан-Битмарь)</a></li>
                        <li><a href="https://vk.com/id516425821">А йа тут..</a></li>
                        <li><p style="color: #fff;">Мой тельчик: <span style="color: red;">+7(953)-199-86-16</span></p></li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <h1 style="color: azure;">С НОВЫМ 2021 ГОДОМ, ТОВАРИЩИ!</h1>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>