<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Сайт для продажи приятных вещей">
    <meta name="author" content="Мурсалов Олег">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Pretty goods</title>
    <link rel="icon" href="~/Content/images/icon.png" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/site.main.style.css" />
</head>
<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg width="31" height="31">
                        <circle cx="16" cy="16" r="12" stroke="green" stroke-width="5" fill="yellow"></circle>
                    </svg>
                    <strong style="margin-left: 10px;">Приятные вещи для вас</strong>
                </a>
            </div>
        </div>
    </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 style="color: #fff;">Магазин приятных вещей</h1>
                <p class="lead text-muted" style="color: #fff!important;">Вы можете заказать товары не регестрируюясь на сайте. Наш человек с вами свяжется.</p>
                <p class="lead text-muted" style="color: #B22222!important; font-weight: 400;">Мы оплачиваем половину доставки.</p>
                <p class="lead text-muted">Еще кастомизируем кроссовки с помощью пленок для аквапринта, а также покрываем их аэрозольным лаком.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Перейти в корзину</a>
                    <a href="#" class="btn btn-secondary my-2">Очистить корзину</a>
                </p>
            </div>
        </section>

        @RenderBody()
    </main>

    <footer class="text-muted" style="background: #343a40;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 float-left">
                    <p style="color: #fff; margin: 5px 0;">Информация о нас:</p>
                    <ul class="text-muted-red">
                        <li><a href="#">Наш Instagram</a></li>
                        <li><a href="#">Группа ВКонтакте</a></li>
                        <li><a href="#">Телефон консультанта: +7(953)-199-86-15</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4 float-right">
                    <svg width="31" height="31" style="float: right; margin: 10px 0 0 5px;">
                        <circle cx="16" cy="16" r="12" stroke="green" stroke-width="5" fill="yellow"></circle>
                    </svg><svg width="31" height="31" style="float: right; margin: 10px 0;">
                        <circle cx="16" cy="16" r="12" stroke="green" stroke-width="5" fill="yellow"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </footer>
    
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>