<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Сайт под розыгрыш, AVE">
    <meta name="author" content="Мурсалов Олег">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>АУФ, ONLY LOVE</title>
    <link rel="icon" href="~/Content/images/icon.png" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/site.main.style.css" />
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between" style="position: relative;">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg width="31" height="31">
                        <circle cx="16" cy="16" r="12" stroke="green" stroke-width="5" fill="yellow"></circle>
                    </svg>
                    <strong style="margin-left: 10px;">ААА, 5ый ЗАВЕРШАЮЩИЙ РОЗЫГРЫШ! ПОБЕДИТЕЛЮ - <span style="color: deeppink;">1500 РУБ</span>.</strong>
                </a>
            </div>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="text-muted" style="background: #343a40;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 float-left">
                    <p style="color: #fff; margin: 5px 0;">Информация о нас:</p>
                    <ul class="text-muted-red">
                        <li><a href="https://vk.com/id516425821">Группа ВКонтакте</a></li>
                        <li><p style="color: #fff;">Телефон: <span style="color: red;">+7(953)-199-86-16</span></p></li>
                    </ul>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4 float-right">
                    <svg width="31" height="31" style="float: right; margin: 10px 0 0 5px;">
                        <circle cx="16" cy="16" r="12" stroke="green" stroke-width="5" fill="yellow"></circle>
                    </svg>
                    <svg width="31" height="31" style="float: right; margin: 10px 0;">
                        <circle cx="16" cy="16" r="12" stroke="green" stroke-width="5" fill="yellow"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>